@using System.Web.Mvc.Html
@using MovieSchedule.Data
MovieSchedule.Web.Models

@model MovieSchedule.Web.Models.ScheduleModel

@{
    ViewBag.Title = "Movie schedule";
}

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            //Dropdownlist Selectedchange event
            $("#Distributors").change(function () {
                $("#Movies").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDistributorMovies")', // we are calling json method
                    dataType: 'json',
                    data: { distributorId: $("#Distributors").val() },
                    // here we are get value of selected distributor and passing same value
                    //as input to json method GetDistributorMovies.
                    success: function (states) {
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $.each(states, function (i, state) {
                            $("#Movies").append('<option value="' + state.Value + '">' +
                                state.Text + '</option>');
                            // here we are adding option for States
                        });
                        $('#Movies').trigger('change');
                    },
                    error: function (ex) {
                        alert('Failed to retrieve movies.' + ex);
                    }
                });
                return false;
            });
            $("#Movies").change(function () {
                $("#Dates").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetMovieShowtimeDates")', // we are calling json method
                    dataType: 'json',
                    data: { movieId: $("#Movies").val() },
                    // here we are get value of selected distributor and passing same value
                    //as input to json method GetDistributorMovies.
                    success: function (states) {
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $.each(states, function (i, state) {
                            $("#Dates").append('<option value="' + state.Value + '">' +
                                state.Text + '</option>');
                            // here we are adding option for States
                        });
                        //$("#Dates").val($("#Dates option:first").val());
                        $('#Dates').trigger('change');
                    },
                    error: function (ex) {
                        alert('Failed to retrieve dates.' + ex);
                    }
                });
                return false;
            });
            $("#Dates").change(function () {
                alert($("#Dates").val());
            });
        });
    </script>
}
<h2>@ViewBag.Title</h2>

@Html.DropDownListFor(list => list.Distributors, new SelectList(Model.Distributors, "Id", "Name"), "Выберите дистрибьютра", new { style = "width:250px" })

@Html.DropDownList("Movies", new SelectList(string.Empty, "Value", "Text"), "Выберите фильм", new { style = "width:250px" })

@Html.DropDownList("Dates", new SelectList(string.Empty, "Value", "Text"), "Выберите дату", new { style = "width:250px" })

