@model MovieSchedule.Web.Models.MovieScheduleModel

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

<fieldset>
    <legend>MovieScheduleModel</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.DistributorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistributorName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.MovieTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MovieTitle)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.MovieReleaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MovieReleaseDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="movie-showtime-row clear-fix" style="font-weight: bold;">
        <div class="float-left" style="width: 100px">
            Неделя проката
        </div>
        <div class="float-left" style="width: 100px">
            Город
        </div>
        <div class="float-left" style="width: 100px">
            Кинотетар
        </div>
        <div class="float-left" style="width: 100px">
            Кол-во сеансов
        </div>
        <div class="float-left" style="width: 560px; text-align:center">
            Время сеансов
        </div>
    </div>

    @foreach (var showtime in Model.Showtimes)
    {
        <div class="movie-showtime-row clear-fix">
            <div class="float-left center" style="width: 100px">
                @showtime.Week
            </div>
            <div class="float-left center" style="width: 100px; overflow: hidden; text-overflow: ellipsis;">
                @showtime.City
            </div>
            <div class="float-left center" style="width: 100px; overflow: hidden; text-overflow: ellipsis;">
                @showtime.CinemaName
            </div>
            <div class="float-left center" style="width: 100px; text-align:center">
                @showtime.ShowtimesCount
            </div>
            <div class="float-left" style="width: 560px; text-align:right">
                @showtime.Showtimes
            </div>
        </div>
    }

    <div class="movie-showtime-row clear-fix" style="font-weight: bold;">
        <div class="float-left" style="width: 100px">
            &nbsp;
        </div>
        <div class="float-left" style="width: 100px">
            &nbsp;
        </div>
        <div class="float-left" style="width: 100px">
            &nbsp;
        </div>
        <div class="float-left" style="width: 100px">
            Итого: @Model.Showtimes.Sum(x => x.ShowtimesCount)
        </div>
        <div class="float-left" style="width: 560px">
        </div>
    </div>
</fieldset>
